# importing required libraries

In [142]:
import mysql.connector # python module to connect with MySQL
import pandas as pd # to read the dataset
import numpy as np

# importing dataset

In [187]:
df=pd.read_csv('Twitter_Bio.csv',index_col=0)
type(df.iloc[8][0])

float

# data-filtering

In [188]:
# type of nan is coming so it is converted to string and replaced with ' ' in following for further handling.
df['Bio']=df['Bio'].apply(lambda x:' ' if type(x)==float else x)
df['Location']=df['Location'].apply(lambda x:' ' if type(x)==float else x)
df['Website']=df['Website'].apply(lambda x:' ' if type(x)==float else x)

In [189]:
# initially data in remaining two columns was in string format having 'M','K' so it is converted to string and nan is replaced with -1.
df['Following Count']=df['Following Count'].astype('str')
df['Following Count']=df['Following Count'].apply(lambda x: "".join(x.split(',')))
df['Following Count']=df['Following Count'].apply(lambda x :  float(x[:-1])*1000000 if 'M' in x else (float(x[:-1])*1000 if 'K' in x else ( -1 if 'nan' in x else float(x) ) ))

In [190]:
df['Followers Count']=df['Followers Count'].astype('str')
df['Followers Count']=df['Followers Count'].apply(lambda x: "".join(x.split(',')))
df['Followers Count']=df['Followers Count'].apply(lambda x :  float(x[:-1])*1000000 if 'M' in x else (float(x[:-1])*1000 if 'K' in x else ( -1 if 'nan' in x else float(x) ) ))

In [191]:
df

,Bio,Following Count,Followers Count,Location,Website
0,Providing Entertainment & Travel to Commercial...,465.0,128.0,"London, England",gtn.uk.com/index.php
1,#CrossingCultures,2.0,4800000.0,California,bit.ly/3ZdxRY3
2,Customs Broker,125.0,29.0,"Florida, USA",
3,A & A Freight | Warehousing | Customs Brokerag...,4093.0,667.0,Worldwide,aacb.com
4,A commercial glass and glazing company serving...,91.0,76.0,"Malden, MA",aawindowproducts.com
5,"A&B Kia is a Kia dealer in Benwood, WV. Stay c...",347.0,301.0,"Benwood, West Virginia",aandbautosales.com
6,"Industry leader in wholesale home decor, furni...",184.0,368.0,"Rancho Cucamonga, CA",abhomeinc.com
7,From large format black & white prints to the ...,125.0,137.0,"Bentonville, AR",abrepro.com
8,,-1.0,-1.0,,
9,A & C CHRISTOFI LTD is a fast growing professi...,282.0,87.0,Cyprus,acccyp.com
10,Used Clothing Distributor,0.0,15.0,Carteret,aeclothing.net
11,,-1.0,-1.0,,
12,,1.0,38.0,"Boulder, CO USA",ae-technologies.com
13,"Create, manage and grow your business online w...",3716.0,419800.0,We're everywhere!,wix.com
14,A & G Insurance prides itself on being your lo...,261.0,39.0,Connecticut,aginsuranceinc.com

# creating and connecting database with MySQL

In [192]:
# connecting MySQL
db=mysql.connector.connect(host='localhost',user='root',passwd='root')

# creating database 
cur=db.cursor() # cur is object of cursor that helps interact with database
cur.execute("Create Database Banao")

# creating table as "task3"

In [193]:
db=mysql.connector.connect(host='localhost',user='root',passwd='root',database='Banao')
cur=db.cursor()
# creating table
cur.execute("Create Table Task3(bio VARCHAR(255),following_count INT,followers_count INT,location VARCHAR(255),website VARCHAR(255))")

# data-entry into the table

In [194]:
try:
    for i in range(len(df)):
        cv=tuple(df.iloc[i].values)
        mySql_insert_query = f"""INSERT INTO Task3(Bio,following_count,followers_count,location,website) 
                               VALUES 
                               {cv}"""
        cur.execute(mySql_insert_query)
        db.commit()
    cur.close()

except mysql.connector.Error as error:
    print("Failed to insert record into Task3 table {}".format(error))

finally:
    if db.is_connected():
        db.close()
        print("MySQL connection is closed")

MySQL connection is closed

# fetching data from database

In [195]:
db = mysql.connector.connect(host='localhost',user='root',passwd='root',database='Banao')
sql_select_Query = "select * from Task3"
cur = db.cursor()
cur.execute(sql_select_Query)
    
# get all records
records = cur.fetchall()
print("Total number of rows in table: ", cur.rowcount)

for row in records:
    print("Bio = ", row[0])
    print("website = ", row[-1])
        

db.close()
cur.close()

Total number of rows in table:  15
Bio =  Providing Entertainment & Travel to Commercial Radio. Reaching 28.9M weekly listeners. Winners of The Arqiva National Sales Team of the Year 2010, 2011 & 2016
website =  gtn.uk.com/index.php
Bio =  #CrossingCultures
website =  bit.ly/3ZdxRY3
Bio =  Customs Broker
website =
Bio =  A & A Freight | Warehousing | Customs Brokerage | Helping people ship across borders.
website =  aacb.com
Bio =  A commercial glass and glazing company serving the window industry in New England since 1954.
website =  aawindowproducts.com
Bio =  A&B Kia is a Kia dealer in Benwood, WV. Stay connected to exceed expectations. Build strong relationships. Drive the best with us.
website =  aandbautosales.com
Bio =  Industry leader in wholesale home decor, furniture, and garden, since 1993.
website =  abhomeinc.com
Bio =  From large format black & white prints to the most sophisticated of digital color printing jobs, A & B can get the job done right.
website =  abrepro.com
Bio =
website =
Bio =  A & C CHRISTOFI LTD is a fast growing professional services company based in Limassol, Cyprus. Our main Concern is your Business.
website =  acccyp.com
Bio =  Used Clothing Distributor
website =  aeclothing.net
Bio =
website =
Bio =
website =  ae-technologies.com
Bio =  Create, manage and grow your business online with Wix. It’s more than just a website builder, it’s how your vision comes to life. For support:
website =  wix.com
Bio =  A & G Insurance prides itself on being your local, full service, Independent Insurance Agency.
website =  aginsuranceinc.com

True